@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
:root{

    /* --red: rgb(255, 0 , 0); */
    --yellow: rgb(255, 255, 0);
    --white: #fff;

    /* MAIN THEME COLORS */

    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    /* VARIANT COLORS */

    --first-variant: rgb(104, 182, 27);
    --second-variant: #7862f5;
    --third-variant: rgb(184, 82, 235);

    /* HOVER COLORS */

    --hover-color: #614fd0;

    /* BACKROUND COLORS */

    --body-bg-color: #fefefe;
    --body-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    /* COLOR FILTER */

    --color-filter: invert(1);

    /* BOX SHADOW */

    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /* FONT SIZE */

    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* SCROLL BAR COLORS */

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s ease-out;
    margin: 0 auto;
    max-width: 2500px;
}

/* INFO PAGE */

.info-page{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color:#202020;
    max-width: 100%;
    line-height: 2em;
}

.info-page h1,
.info-page h2{
    margin: 1.5rem auto;
    text-align: center;
}

.info-page div p, 
.info-page div p h3{
    margin: 1em;
    text-align: center;
}

.info-page div ul{
    margin-left: 5rem;
}

/* WAVE */

.shape-container{
    position: relative;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 70px;
}

.waves .shape-fill {
    fill: #FFFFFF;
}

/* FOOTER WAVES */

.footer-waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-waves svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 72px;
}

.footer-waves .shape-fill {
    fill: #FFFFFF;
}

/* OUR PROGRAM */

.mathematics{
    display: flex;
}

li{
    list-style-type: none;
}

*::selection{
    color: antiquewhite;
    background-color: rgb(80, 80, 241);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body{
    background: url(images/card-bg2.png);
    background-size: cover;
    background-position: center;
}

section{
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 11rem;
    padding-bottom: 9rem;
}

.sub-section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.container {
    position: relative;
    flex-direction: column;
}
  

.background{
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 81, 255, 0.3) 100%);
    background-size: cover;
    background-position: bottom;
}

.background2{
    background: linear-gradient(rgba(4, 9, 30, 0.5), 
                                rgba(4, 9, 30, 0.3)), 
                                url(images/pattern2.png) no-repeat;
    background-size: cover;
    background-position: top;
}

.heading{
    text-align: center;
    color: rgba(0, 17, 255, 0.3);
    padding: 1rem;
    font-size: 3.5rem;
}

.btn{
    margin-top: 6rem;
    padding: 15px 18px;
    z-index: 0;
    font-size: 2rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    position: relative;
    background: rgba(0, 81, 255, 0.3);
}

.btn:hover{
    background: #b42cc0;
}

.button-flex{
    display: flex;
    margin-top: 2rem;
}

.btn-sec{
    display: inline-block;
    margin: 1rem auto auto 35%;
    padding: .7rem 3rem;
    border-radius: 5rem;
    background:  #460a68;
    color: #fff;
    font-size: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.btn-sec:hover{
    background: #b42cc0;
}

.up-and-down::before,
.up-and-down::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;
    width: 100%;
    background-size: cover;
}

.flex-button{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.up-and-down::before{
    background: url(images/img-top.png) no-repeat;
    top: -6rem;
}

.up-and-down::after{
    background: url(images/img-down.png) no-repeat;
    top: -6rem;
}

/* GRID CONTAINER */

.grid-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(auto-fill, auto);
    justify-content: center;
    margin-top: 10em;
}

.grid-item{
    margin: 1rem;
}

.grid-container .grid-item .sub-content div p{
    color: #666;
}

.grid-container .grid-item .sub-content li{
    color: #666;
}

.grid-container .grid-item .sub-content .goals{
    transform: translateX(18rem);
}

.grid-container .grid-item .sub-content .goals p{
    line-height: 2.5rem;
}

.grid-item img{
    height: 100%;
    width: 100%;
    margin: 1rem;
    object-fit: cover;
}

.item1{
    grid-row: 1 / 3;
}

.item2{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.item3{
    grid-column: span;
    grid-row: 3 / 4;
}

.title{
    font-size: 4rem;
    color:rgba(0, 81, 255, 0.3);
    position: relative;
}

    /* SUB-CONTENT */

.sub-content{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color:#202020;
    margin: auto 2rem;
    text-align: justify;
}

.sub-content h1, .sub-content h2,
.sub-content h3{
    margin: 1.5rem auto;
    text-align: center;
    color:rgba(0, 81, 255, 0.3);
}

.sub-content p,
.sub-content li{
    margin: 1.5rem auto;
    text-align: justify;
}

.sub-content div ul li{
    margin: auto 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.6rem;
}

.sub-content div p{
    line-height: 4rem;
}

.sub-content .values ul li{
    padding-bottom: 1rem;
}

.sub-content .values ul li span{
    font-size: 1.1rem;
    font-weight: 500;
}

/* PRICES SECTION */

.flex-content {
    display: flex;
    border: 1px solid gray;
    box-shadow: var(--box-shadow);
    padding: 1em;
    height: 100%;
}

/* HEADER */

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    background-position: bottom;
    background-size: cover;
    z-index: 10000;
    padding: 1rem 5%;
    height: 9rem;
}

header.sticky{
    background-color: rgb(0, 9, 136);
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2));
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

header .logo-section h3{
    font-size: 3rem;
}

header .logo-section h3 span{
    color: rgba(142, 243, 75, 0.7);
    font-size: 3rem;
    text-transform: uppercase;
}

header a img{
    width: 4em;
    height: 2.5em;
    border-radius: 100%;
    object-fit: fill;
    object-position: center;
}

header .navigation .navigation-items a{
    color: #fff;
    margin-left: 1em;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease;
    margin-top: 2rem;
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

header a h3{
    font-size: 3em;
    color: rgb(159, 183, 194);
    font-weight: 600;
    text-transform: uppercase;
}

.subheader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0; left: 0; right: 0;
    background-color: rgba(0, 17, 255, 0.3);
    backdrop-filter: blur(20px);
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2));
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    background-position: bottom;
    background-size: cover;
    z-index: 10000;
    padding: 1rem 5%;
    height: 9rem;
}

/* HOME SECTION */

.home{
    display: flex;
}

.home .content{
    border-radius: 10px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5));
    padding: 8rem;
    justify-content: center;
    align-items: center;
    line-height: normal;
    width: 90%;
}

#typewriter,
#cursor{
    text-align: center;
}

/* TYPEWRITER EFFECT */

.home .content h1{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, #fcfcfc 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    opacity: 1;
    overflow-wrap: break-word;
}

@keyframes blink{
    0%, 100%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }
}

/* ABOUT SECTION */

.about .container .content {
    column-gap: 40px;
    max-height: 100%;
    width: 100%;
    padding: 2em;
}

.about-img {
    position: relative;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding-top: 1em;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.about-info {
    width: 100%;
    height: 100%;
}

.about-info .description h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
  
.about-info .description h4 {
    font-size: 2rem;
    font-weight: 500;
    margin: 10px auto;
    text-align: center;
}
  
.about-info .description h3 span {
    color: var(--second-color);
}
  
.about-info .description p {
    color: var(--third-color);
    font-size: 1.7rem;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}

.about-img{
    transform: translateY(-4.5rem);
}

.about-img .professional-list {
    display: flex;
    column-gap: 30px;
}

.about-img .professional-list .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}
  
.about-img .professional-list .list-item h3 {
    font-size: 2.7rem;
    font-weight: 700;
}
  
.about-img .professional-list .list-item .first {
    color: var(--first-variant);
}
  
.about-img .professional-list .list-item .second {
    color: var(--second-variant);
}
  
.about-img .professional-list .list-item .third {
    color: var(--third-variant);
}
  
.about-img .professional-list .list-item span {
    color: var(--third-color);
    font-size: 2rem;
}
  
/* FEATURES SECTION */

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    line-height: normal;
    flex: 1 1 27rem;
    padding: 1rem 3rem;
    margin: 1rem;
    height: 22rem;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    text-align: center;
    background: url(images/card-bg3.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.features .box-container .box:hover{
    transform: scale(1.015);
    overflow-y: auto;
    scrollbar-width: none;
}

.features .box-container .box img{
    height: 12rem;
    width: 12rem;
    padding: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    color: #3635a8;
}

.features .box-container .box p{
    color: #666;
    line-height: 2.5rem;
}

/* OUR SERVICES */

.services .container {
    position: relative;
    margin-top: -.4rem;
}
  
.services .container .content {
    min-width: 100%;
    max-height: 100%;
    margin-top: 1rem; 
}
  
.services-img {
    position: relative;
    flex:  0 0 auto;
}
  
.services-img img {
    object-fit: contain;
    min-height: 100%;
    min-width: 100%;
    height: 400px;
    width: 57rem;
}

#e-commerce,
#digital-content{
    flex-direction: row-reverse;
}

.services-info .description {
    height: 480px;
    min-height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    padding: 12rem 2rem;
}
  
.services-info .description h3 {
    min-width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px auto;
}

.services-info .description h3 span {
    color: var(--second-color);
}

.services-info .description h4 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px auto;
}
  
.services-info .description p {
    color: var(--third-color);
    font-size: 1.7rem;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}

.services-info .description ul li{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: var(--third-color);
}

/* SECOND SERVICES SECTION */

.second-services{
    position: relative;
}

.second-services p{
    color: #666;
    font-size: 2rem;
    text-align: justify;
    margin: 2rem 2.5rem;
}

.second-services .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.second-services .box-container .box{
    overflow: hidden;
    height: 23rem;
    flex: 1 1 30rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.second-services .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-services .box-container .box .info{
    height: 100%;
    width: 100%;
    background: rgba(54, 22, 22, 0.7);
    text-align: center;
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.second-services h1{
    text-align: center;
    padding: 1rem;
    font-size: 3.5rem;
}

.second-services .box-container .box .info h3{
    font-size: 3rem;
    color: #fff;
    transform: translateY(5rem);
    opacity: 0;
    transition: 1s;
}

.second-services .box-container .box:hover .info{
    top: 0%;
}

.second-services .box-container .box:hover .info h3{
    transform: translateY(0rem);
    opacity: 1;
    transition-delay: .2s;
}

/* TEAM SECTION */

.team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team .box-container .box{
    flex: 1 1 27rem;
    padding: 2rem 3rem;
    margin: 1rem;
    height: 100%;
    max-height: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: 1rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in;
    overflow-y: hidden;
}

.team .box-container .box img{
    height: 12rem;
    width: 12rem;
    padding: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.team .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
}

.team .box-container .box span{
    font-size: 1.7rem;
    color: var(--red);
}

.team .box-container .box p{
    font-size: 2rem;
}

.team .box-container .box .share{
    padding: 1rem 0;
}

.team .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    border: 0.1rem solid #333;
    font-size: 1.7rem;
    margin: 0.2rem;
}

.team .box-container .box .share a:hover{
    background: var(--blue);
    color: #fff;
    border-color: var(--blue);
}

.team .box-container .box p{
    color: #666;
    font-size: 1.4rem;
}

/* GET-IN-TOUCH */

.get-in-touch {
    margin: 15vw auto;
    height: 100%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    background-color:rgba(250, 239, 239, 0.8);
    border-radius: 10px;
}

.get-in-touch .container .content {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

.get-in-touch .contact-card {
    position: relative;
    width: 90%;
    margin: 5rem;
    border-radius: 10px;
    column-gap: 50px;
}

.get-in-touch .contact-card .title {
    line-height: 80px;
}

.get-in-touch .contact-card .title h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}

.get-in-touch .contact-card .title h3 {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.get-in-touch .contact-card .title h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 8.5rem;
    font-weight: 700;
    background: linear-gradient(to top, transparent 0%, rgba(1, 1, 1, 0.7) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
    width: 100%;
}

/* OUR CLIENTS */

.wrapper{
    width: 100%;
    max-width: 1536px;
    margin-right: 2em;
    margin-inline: auto;
    position: relative;
    height: 400px;
    margin-top: 5rem;
    overflow-x: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft{
    to{
        left: -200px;
    }
}

@keyframes scrollRight{
    to{
        right: -200px;
    }
}

.wrapper .item{
    color: #fff;
    width: 200px;
    height: 180px;
    border-radius: 4px;
    position: absolute;
    left: max(calc(200px * 8), 100%); 
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wrapper .item1{
    animation-delay: calc(30s / 8 *(8 - 1) * -1);
    background-image: url(./images/kusaselihle.png);
    background-position: center;
    background-size: cover;
}

.wrapper .item2{
    animation-delay: calc(30s / 8 *(8 - 2) * -1);
    background-image: url(./images/vulindlela.png);
    background-position: center;
    background-size: cover;
}

.wrapper .item3{
    animation-delay: calc(30s / 8 *(8 - 3) * -1);
    background-image: url(./images/ukukhanyakude.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: difference;
}

.wrapper .item4{
    animation-delay: calc(30s / 8 *(8 - 4) * -1);
    background-image: url(./images/bcxv2.png);
    background-position: center;
    background-size: contain;
}

.wrapper .item5{
    animation-delay: calc(30s / 8 *(8 - 5) * -1);
    background-image: url(./images/telkom.png);
    background-position: center;
    background-size: cover;
}

.wrapper .item6{
    animation-delay: calc(30s / 8 *(8 - 6) * -1);
    background-image: url(./images/siphosethu.png);
    background-position: center;
    background-size: cover;
}

.wrapper .item7{
    animation-delay: calc(30s / 8 *(8 - 7) * -1);
    background-image: url(./images/conlog.png);
    background-position: center;
    background-size: cover;
}

.wrapper .item8{
    animation-delay: calc(30s / 8 *(8 - 8) * -1);
    background-image: url(./images/joburgv2.png);
    background-position: center;
    background-size: cover;
}

/* OUR CONTACTS */

.contact .container .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  
.contact-left h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

.contact-list li {
    margin-bottom: 40px;
    text-align: center;
}

.contact-list li h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.contact-list li h3 i {
    color: var(--second-color);
    margin-right: 10px;
}

.contact-list li span {
    color: var(--third-color);
    font-size: 1.8rem;
    margin-left: 40px;
}

.contact-list li span a {
    color: var(--third-color);
}

.contact-right {
    margin-left: 5em;
}

.contact-left p {
    color: var(--third-color);
    font-size: 2rem;
    /* margin-bottom: 30px; */
}

.contact-list .mail-address a{
    color:var(--third-color);
}

.contact-form input,
.contact-form textarea {
    border: none;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

::placeholder {
    color: var(--first-color);
    font-size: 1.8rem;
}

.contact-form .first-row input {
    width: 100%;
}

.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input {
    width: 48%;
}

.contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */

footer {
    min-width: 100%;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: #fff;
}
  
footer a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    font-weight: 400;
}
  
.footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1150px;
}

.footer-container .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8em auto;
}

.footer-container .about h2 {
    font-size: 4em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.7) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem auto;
}

.footer-container .about h2 span{
    background: linear-gradient(to top, transparent 0%, rgba(92, 94, 204, 0.7) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    text-transform: uppercase;
}

.footer-container .about p span{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: rgba(92, 94, 204, 0.7);
    margin-right: 3px;
}

.footer-container .about P{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.footer-container .about h2, 
.footer-container .about p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
}

.footer-company-info{
    display: flex;
    justify-content: space-between;
}

.footer-company-info .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.footer-container .footer-company-info h3{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

footer .footer-copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-copyright p {
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

/* MEDIA QUERIES */

@media(max-width: 1200px){

    header .navbar{
        display: none;
    }

    html{
        font-size: 55%;
    }

    /* HEADER */

    header{
        position: fixed;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5%;
        height: 10rem;
    }

    .logo-section{
        margin-left: 1rem;
    }

    /* ABOUT */

    .about .image img{
        flex-basis: 35%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about .content{
        flex-basis: 50%;
    }

    /* TEACHER */

    .teacher .box-container .box{
        overflow-y: scroll;
        height: 100%;
    }

    /* GET-IN-TOUCH */

    .get-in-touch .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-left: 6%;
        margin-top: 15%;
    }

    .btn{
        margin-top: 6rem;
        padding: 15px 12px;
    }

    /* CONTACT */

    .contact .row{
        flex-flow: column;
        align-items: flex-start;
    }
}

@media (max-width: 1040px){
    
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a{ 
        color: #222;
        font-size: 2rem;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items{ 
        background: #fff;
        width: 600px;
        height: 90%;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        overflow-y: hidden;
    }

    header .navigation.active .navigation-items:hover{
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: blue;
    }

    .logo-section{
        margin-left: 2rem;
    }

    .menu-btn{
        background: url(./images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease ;
        margin-right: 3rem;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(./images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        margin-top: 5rem;
        margin-right: 3rem;
    }

    /* ATTACHMENT */

    .attachments{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .strategic-goals{
        margin: auto 2rem;
    }

    /* GET-IN-TOUCH */

    .get-in-touch .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-left: 6%;
        margin-top: 15%;
    }

    /* CONTACT SECTION */

    .contact .content {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left {
        margin-bottom: 40px;
    }

    .contact-form .second-row {
        flex-direction: column;
    }

    .contact-form .second-row input {
        width: 100%;
    }
}

@media(max-width: 730px){

    html{
        font-size: 50%;
    }

    .btn{
        margin-top: 2rem;
    }

    /* HEADER */

    header{
        top: 0;
        left: 0;
        right: 0; 
        display: flex;
        position: fixed;
        background-position: bottom;
        background-size: cover;
        z-index: 10000;
        padding: 1rem 5%;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: space-between;
        min-height: 5em;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(./images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        margin-top: 5rem;
        margin-right: 5%;
    }

    .logo-section{
        margin-left: 1rem;
    }

    /* HOME SECTION */

    .home .content{
        text-align: center;
    }

    .home .content h1{
        font-size: 3.5rem;
    }

    .home .content h3{
        font-size: 2.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .home .image img{
        display: none;
    }

  /* FEATURES */

    .features {
        display: grid;
    }

    .features .stick{
        display: none;
    }

    .features .box-container:first-child .box,
    .features .box-container .box,
    .features .box-container{
        flex-flow: column;
    }

    .features .box-container{
        text-align: center;
        margin-top: 5em;
    }

    .features .box-container .box{
        transform: translate(0);
        height: 100%;
    }

    
    /* ABOUT */

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .about-img {
        text-align: center;
    }

    .about .image img{
        width: 8rem;
        height: 100%;
        object-fit: cover;
    }

    .about .professional-list{
        flex-direction: column;
    }

    .about-info .description{
        max-width: 100%;
    }

    .about .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about .content h3{
        text-align: center;
    }

    .about .content .founding{
        font-weight: 600;
    }

    .about .content p{
        line-height: 1.5em;
        text-align: center;
    }

    /* SERVICES */

    .services .box-container .box{
        overflow: hidden;
        height: 30rem;
        flex: 1 1 30rem;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        position: relative;
        cursor: pointer;
    }

    .services .container .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin:  auto 2rem;
    }

    .services-img img {
        height: 100%;
        width: 100%;
    }

    #e-commerce,
    #digital-content{
        flex-direction: column;
    }
    
    .services .container .description {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .strategic-goals{
        margin: auto 0;
    }

    /* SECOND SERVICES */

    .second-services .box-container .box{
        height: 100%;
    }

    /* GET IN TOUCH */

    .get-in-touch {
        min-height: 100%;
        height: 40rem;
        width: 100%;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    }

    .get-in-touch .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-left: 6%;
        margin-top: 15%;
    }

    .get-in-touch .contact-card .title {
        text-transform: uppercase;
        line-height: 5rem;
        overflow-wrap: break-word;
        font-size: 3rem;
    }

    .get-in-touch .contact-card .title h2 {
        overflow-wrap: break-word;
        font-size: 4.5rem;
    }

    /* TEACHER */
    
    .teacher .box-container .box{
        overflow-y: scroll;
        height: 100%;
    }

    .teacher .box-container .box p{
        margin-top: 1em;
        font-size: 1.5em;
    }

    /* CONTACT */

    .contact{
        display: grid;
    }

    .contact .row{
        flex-flow: column;
        align-items: flex-start;
    }

    .contact img{
        display: none;
    }
    
    iframe{
        width: 91vw;
        height: 60vh;
        margin-left: 0;
    }

    /* PRICES */

    .flex-content {
        display: grid;
        gap: 1em;
    }

    /* FOOTER */

    .footer .box-container .box{
        margin-top: 4em;
    }

    .footer .box-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-container .footer-company-info{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

@media(max-width: 530px){
    .get-in-touch .title{
        line-height: 5.5rem;
    }
}